.header {
  width: 100%;
  background-color: #171c1f;
  color: white;
}


.header-top {
  position: relative;
  height: 58px;
  display: flex;
  align-items: center;
  padding: 0 58px;
  box-sizing: border-box;
}


.logo {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 1;
  transform: translateY(5px);
  text-decoration: none;
  cursor: pointer;
}

.logo-sport,
.logo-max {
  font-size: 27px;
  font-weight: 700;
  line-height: 27px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-sport {
  color: #ffffff;
}

.logo-max {
  color: #22c55e;
}

.logo small {
  width: 100%;
  margin-top: 3px;
  color: #aaaaaa;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
}


.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 390px;
  height: 34px;

  display: flex;

  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.search input {
  flex: 1;
  min-width: 0;

  border: none;
  outline: none;

  padding: 0 13px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  color: #333;
}

.search input::placeholder {
  color: #777;
}

.search button {
  width: 42px;
  flex-shrink: 0;

  border: none;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.search svg {
  width: 17px;
  height: 17px;

  fill: none;
  stroke: #333;
  stroke-width: 2;
}

.header-item {
  display: flex;
  align-items: center;

  color: #ffffff;
  text-decoration: none;
}

.header-item svg {
  width: 21px;
  height: 21px;

  margin-right: 7px;

  fill: none;
  stroke: #ffffff;
  stroke-width: 1.7;
}

.header-item span {
  font-size: 11px;
}

.header-item small {
  display: block;

  color: #bbbbbb;

  font-size: 9px;
}


.conta {
  position: absolute;
  right: 135px;
}



.carrinho {
  position: absolute;
  right: 58px;

  color: #ffffff;
  text-decoration: none;
}

.carrinho:visited,
.carrinho:hover {
  color: #ffffff;
  text-decoration: none;
}



.menu {
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 45px;

  box-sizing: border-box;
}

.menu a {
  color: #dddddd;

  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.menu a:hover {
  color: #22c55e;
}

.menu .ativo {
  color: #22c55e;
  font-weight: 700;
}

.home-icon {
  font-size: 13px;
  margin-right: 4px;
}